<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3023c93a1c.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="header">
        <div class="logo"><img src="/img/logo.jpg" alt="logotipo"></div>
        <div class="menu">
            <button><i class="fa-solid fa-bars" style="color: #ffffff;"></i></button>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Quienes</a></li>
                <li><a href="">Servicio</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="banner">
            <img src="/img/img-banner.jpg" alt="Banner">
        </div>
        <div class="main__section">
            <article class="main__section__article">
                <div class="main__section__article__div">
                    <img class="muestra" src="/img/img-pdto-1.jpg" alt="">
                    <img class="promo" src="/img/img-nuevo.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure porro dolorum illum voluptate culpa inventore doloribus?</p>
                <button><a href="">ver mas</a></button>
            </article>
            <article class="main__section__article">
                <div class="main__section__article__div">
                    <img class="muestra" src="/img/img-pdto-2.jpg" alt="">
                    <img class="promo" src="/img/img-gratis.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure porro dolorum illum voluptate culpa inventore doloribus?</p>
                <button><a href="">ver mas</a></button>
            </article>
            <article class="main__section__article">
                <div class="main__section__article__div">
                    <img class="muestra" src="/img/img-pdto-3.jpg" alt="">
                    <img class="promo" src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure porro dolorum illum voluptate culpa inventore doloribus?</p>
                <button><a href="">ver mas</a></button>
            </article>
            <article class="main__section__article">
                <div class="main__section__article__div">
                    <img class="muestra" src="/img/img-pdto-1.jpg" alt="">
                    <img class="promo" src="/img/img-gratis.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure porro dolorum illum voluptate culpa inventore doloribus?</p>
                <button><a href="">ver mas</a></button>
            </article>
            <article class="main__section__article">
                <div class="main__section__article__div">
                    <img class="muestra" src="/img/img-pdto-2.jpg" alt="">
                    <img class="promo" src="/img/img-nuevo.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure porro dolorum illum voluptate culpa inventore doloribus?</p>
                <button><a href="">ver mas</a></button>
            </article>
            <article class="main__section__article">
                <div class="main__section__article__div">
                    <img class="muestra" src="/img/img-pdto-3.jpg" alt="">
                    <img class="promo" src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure porro dolorum illum voluptate culpa inventore doloribus?</p>
                <button><a href="">ver mas</a></button>
            </article>
        </div>
    </main>
    <footer class="footer">
        <nav class="footer__nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Quienes</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Portafolio</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Recursos</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>